

.npv-lyrics {
  perspective: 400px;
}
.npv-lyrics__content  {
  animation: a 5s infinite ease-in-out;
}
.npv-lyrics__text {
  /*! font-family: "Wingdings"; */
  background: linear-gradient(#ef2, #c91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}
.npv-lyrics__text::after {
  content: " fr fr my dear mother 🗣🗣🗣🔥🔥🔥";
}


/* @keyframes a {
  0% {
    transform: translateX(-4em);
  }
  50% {
    transform: translateX(4em);
  }
  100% {
    transforM: translateX(-4em);
  }
} */

@keyframes a {
  0% {
    transform: translateZ(-200px) rotateY(-45deg);
  }
  50% {
    transform: translateZ(-200px) rotateY(45deg);
  }
  100% {
    transform: translateZ(-200px) rotateY(-45deg);
  }
}